body{
    header{
        display: flex;

        .left{
            display: flex;//横並べ
            align-items: center;
            svg{
                width: 134px;
                height: 48px;
            }
            p{
                font-size: 14px;
                margin-left:20px;
            }
            
        }
        .right{
            display: flex;
            margin: 0 0 0 auto;//中央に空白を作る
            align-items: center;//中央揃え
            svg{
                width: 24px;
                height: 24px;
                margin-left:20px;
            }
            img{
                width: 32px;
                height: 32px;
                margin-left:20px;
            }
        }
    }

    main{
        display: flex;
        .top{
            .span{
                color: red($color: #000000);
            }
          

        }
    }

    footer{
        display: flex;

        .left{
            display: flex;//横並べ
            align-items: center;
            svg{
                width: 24px;
                height: 24px;
                margin-left: 20px;
            }
        }
        .right{
            display: flex;
            align-items:  center;
            margin: 0 0 0 auto;
            p{
                font-size: 12px;
                margin-left:40px;
            }
        }
    }
}   

